

#nav {
  background-color: #e5e5e5;
  padding: 20px 0px 20px 0px;
  margin-bottom: 15px;
  position: fixed;
  width: 100%;
  top: 0px;
}

#nav_container {
  width: 75%;
  margin: auto;
}

#nav_container p {
  width: 25%;
}




.links {
  padding: 5px 5px 5px 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

#logo {
  display: inline-block;
}

#logo img {
  width: 100%;
}


#search {
  display: inline-block;
  float: right;
}

#search img {
  width: 15%;
}


#heading_container {
  width: 30%;
  margin: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

#heading {
  margin: 200px auto 0;
}



.wrapper {
  width: 75%;
  margin:auto;
  max-width: 879px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.images {
  margin: 5px;
}

#footer {
  width: 75%;
  margin: auto;
}

#whats_new {
  float: left;
  display: inline-block;
}

#modern_layouts {
  float: right;
  display: inline-block;
}

.modern_layouts {
  column-count: 3;
  column-gap: normal;
}
